[Unit]
Description=Prometheus Node Exporter

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/local/bin/node_exporter --web.listen-address=":9100" \
	--collector.systemd \
	--collector.systemd.unit-whitelist="(docker|sshd|rsyslog).service"


[Install]
WantedBy=multi-user.target


# 监控系统服务状态
ExecStart=/usr/local/bin/node_exporter --collector.systemd --collector.systemd.unit-whitelist=".+"
--collector.systemd.unit-whitelist=(docker|sshd|node_exporter).service # 匹配相应服务进行监控