[client]
port=3306
socket=/data/mysqldata/mysql.sock

[mysqld]
explicit_default_for_timestamp=true
datadir=/data/mysqldata
socket=/data/mysqldata/mysql.sock
max_connections = 4000
log_bin=/data/mysqldata/mysql-bin
server_id = 109
gti_mod = ON
enforce_gtid_consistency
log-slave-updates = ON
relay_log_purge = 0
innodb_file_per_table = 1
expire_logs_days = 7
skip_name_resolve = ON
# slave-skip-errors=
# skip-grant-tables
###################################innodb config####################
innodb_flush_log_at_trx_commit = 2
innodb_buffer_pool_size = 48G
innodb_write_io_threads = 8
innodb_read_io_threads = 8

###################################slow log#########################
slow_query_log=1
slow_query_log_file = /data/mysql_logs/mysql-slow.log
long_query_time = 30

###################################error log########################
log_error=/data/mysql_logs/mysql-error.log

symbolic-links=0

pid-file=/var/run/mysqld/mysqld.pid